.main {
    width: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
    min-height: 100vh;
    grid-gap: 15px;
    padding: 0 20px;
    position: relative;
}

.main > .video-details {
    width: 100%;
    height: max-content;
    position: sticky;
    top: 0;
    left: 0;
}

.main > .video-list {
    min-height: 100vh;
}